body {
  background-image: url(./images/pexels-victoria-emerson-6160296.jpg);
  background-size: cover;
  text-align: center;
  width: 100%;
}

.value,
.label {
  color: rgb(236, 222, 219);
  font-weight: 900;
  font-size: 90px;
  font-family: "Satisfy", cursive;
  padding-top: 10px;
  text-shadow: 8px 2px 2px #000;
}
.label {
  font-size: 40px;
}
.timer {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.field {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Satisfy", cursive;
  font-size: 90px;
  color: white;
  text-shadow: 8px 2px 2px #000;
}
